@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

[data-theme='dark'] {
  --background: 15 23 42;
  --foreground: 255 255 255;
}

body {
  @apply bg-white text-gray-900 dark:text-gray-100;
  background-color: white;
}

.dark body, body.dark {
  background-color: #0B1222;
}

html.dark {
  background-color: #0B1222;
}


* {
  @apply transition-colors duration-200;
}
